.container {
	background: url(../../assets/admin-bg.jpg) no-repeat center/cover;
	width: 100%;
	height: 100vh;
}

.dataContainer {
	display: flex;
	height: 20vh;
	width: 100%;
}

.whiteSpace {
	width: 10%;
	height: 100%;
}

.dataPanel {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: 80%;
	height: 100%;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	flex-direction: column;
}

.data {
	height: 50%;
	color: rgba(var(--p-text-color), 0.8);
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

/* ------------------------------------------------------------ */

.userContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80%;
	padding: 15px;
}

.userListContainer {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
}

.userList {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	border-radius: 15px;
	column-gap: 5px;
	row-gap: 5px;
	padding: 15px;
	width: 100%;
	height: 90%;
}

.paging {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: 100%;
	height: 10%;
}

.userEdit {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: 38%;
	height: 100%;
	border-radius: 15px;
}
