.container {
	background: url(../../assets/admin-bg.jpg) no-repeat center/cover;
	width: 100%;
	height: 100vh;
}

.dataContainer {
	display: flex;
	height: 20vh;
	width: 100%;
}

.whiteSpace {
	display: flex;
	justify-content: center;
	width: 10%;
	height: 100%;
}

.btn {
	background: rgba(0, 0, 0, 0.3);
	color: rgba(var(--p-text-color), 0.8);
	margin: 0 auto;
	height: 30%;
	width: 50%;
	border: none;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.btn:hover {
	background: rgba(0, 0, 0, 0.8);
	scale: 1.1;
}

.dataPanel {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: 80%;
	height: 100%;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	flex-direction: column;
}

.data {
	height: 50%;
	color: rgba(var(--p-text-color), 0.8);
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

.paging {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnp {
	background-color: rgba(var(--primary-color), 0.6);
	color: rgba(0, 0, 0, 0.8);
	border: none;
	border-radius: 5px;
	margin: 0 10px;
	height: 30%;
	width: 5%;
}

.btnp:hover {
	background-color: rgba(var(--primary-color), 0.8);
}

.pages {
	color: rgba(var(--primary-color), 0.6);
}

/* ------------------------------------------------------------ */

.userContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80%;
	padding: 15px;
}

.userListContainer {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
}

.userList {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	border-radius: 15px;
	column-gap: 5px;
	row-gap: 5px;
	padding: 15px;
	width: 100%;
	height: 90%;
}

.paging {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: 100%;
	height: 10%;
}

.userEdit {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 38%;
	height: 100%;
	border-radius: 15px;
}

/* --------------------------- */

.input {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 85%;
	height: 100%;
}

.input label {
	color: rgba(var(--p-text-color), 0.6);
	font-size: 12px;
	margin-bottom: 5px;
}

.input input {
	color: rgba(var(--p-text-color), 0.6);
	border: none;
	border-bottom: 2px rgba(var(--p-text-color), 0.3) solid;
	background-color: transparent;
	margin-bottom: 30px;
	font-size: 20px;
	height: 30px;
	width: 100%;
}

.input input:focus {
	border: none;
	border-bottom: 1px rgba(var(--p-text-color), 0.3) solid;
	outline: none;
}

/* ----------------------- */

.btnControll {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: center;
}

.btnSC,
.btnDC {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
}

.btnC,
.btnS {
	background-color: rgba(var(--secondry-color), 1);
	margin: 0 10px;
	width: 40%;
	border: none;
	border-radius: 5px;
	padding: 2px;
}

.btnD {
	background-color: rgba(var(--secondry-color), 1);
	width: 85%;
	padding: 4px;
	border: none;
	border-radius: 5px;
}

.btnC:hover,
.btnS:hover,
.btnD:hover {
	background-color: rgba(var(--secondry-color), 0.7);
}
