.container {
	width: 20%;
	min-width: 250px;
	height: 100vh;
}

.whiteSpace {
	width: 100%;
	height: 5%;
}

.taskContainer {
	background-color: rgba(var(--dk-text-color), 0.7);
	border-top-right-radius: 45px;
	width: 100%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 55px 10px 0 10px;
}

.ctBtn {
	background-color: rgba(var(--primary-color), 0.6);
	margin: 0 auto 0 auto;
	width: 80%;
	height: 45px;
	border: none;
	border-radius: 13px;
	font-size: 16px;
}

.ctBtn:hover {
	cursor: pointer;
	scale: 1.05;
	background-color: rgba(var(--primary-color), 1);
}

.inputContainer {
	margin: 70px 0 0 0;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.inputs label {
	color: rgba(var(--p-text-color), 0.8);
	font-size: 12px;
	margin-bottom: 5px;
}

.inputs input {
	color: rgba(var(--p-text-color), 0.8);
	border: none;
	border-bottom: 2px rgba(var(--p-text-color), 0.3) solid;
	background-color: transparent;
	margin-bottom: 30px;
	font-size: 20px;
	height: 30px;
	width: 100%;
}

.inputs input:focus {
	border: none;
	border-bottom: 1px rgba(var(--p-text-color), 0.3) solid;
	outline: none;
}

.textarea {
	border: none;
	border-bottom: 2px rgba(var(--p-text-color), 0.3) solid;
	color: rgba(var(--p-text-color), 0.6);
	background-color: transparent;
	margin-bottom: 30px;
	font-size: 20px;
	width: 100%;
	height: 150px;
	resize: none;
}

.textarea:focus {
	border: none;
	border-bottom: 1px rgba(var(--p-text-color), 0.3) solid;
	outline: none;
}

.btnContainer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.btn {
	width: 150px;
	height: 30px;
	border-radius: 13px;
	font-size: 14px;
	border: none;
	margin: 5px;
	background-color: rgba(var(--primary-color), 0.6);
}
.btn:hover {
	cursor: pointer;
	scale: 1.05;
	background-color: rgba(var(--primary-color), 1);
}
